---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Container from "../components/containerBlog.astro";
import Sectionhead from "../components/sectionhead.astro";

// Filter blog entries with 'draft: false' & date before current date
const publishedBlogEntries = await getCollection("montaraz", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
const publishedBlogEntries2 = await getCollection("cycling", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
const publishedBlogEntries3 = await getCollection("hiking", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
const publishedBlogEntries4 = await getCollection(
  "destinations",
  ({ data }) => {
    return !data.draft && data.publishDate < new Date();
  }
);

// Sort content entries by publication date
publishedBlogEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});
publishedBlogEntries2.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});
---

<Layout title="Blog">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Our Blog</Fragment>
      <Fragment slot="desc">
        Here you can find stories of our travels, testimonials, information and
        much more.
      </Fragment>
    </Sectionhead>
    <main class="mt-16 grid lg:grid-cols-4 gap-10">
      <div>
        <h1
          class="text-4xl lg:text-4xl font-bold lg:tracking-tight mb-10 text-center">
          Montaraz
        </h1>
        <ul class="grid gap-16 max-w-4xl mx-auto rounded-xl">
          {
            publishedBlogEntries.map((blogPostEntry, index) => (
              <li>
                <a class="rounded-xl" href={`/blog/${blogPostEntry.slug}`}>
                  <div
                    class="grid items-center  transition-all duration-300
                           lg:hover:shadow-[21px_20px_20px_10px_#cbd5e0] lg:shadow-xl lg:shadow-gray-300 rounded-xl 
                         bg-white lg:hover:scale-105 ">
                    <Picture
                      src={blogPostEntry.data.image.src}
                      alt={blogPostEntry.data.image.alt}
                      sizes="(max-width: 800px) 100vw, 800px"
                      width={800}
                      height={600}
                      loading={index <= 2 ? "eager" : "lazy"}
                      decoding={index <= 2 ? "sync" : "async"}
                      class="h-64 rounded-xl  object-cover object-center  "
                    />
                    <div class="text-center p-5">
                      <span class="text-blue-400 uppercase tracking-wider text-sm font-medium">
                        {blogPostEntry.data.category}
                      </span>

                      <h2 class="text-3xl font-semibold leading-snug tracking-tight mt-1 ">
                        {blogPostEntry.data.title}
                      </h2>

                      <div class="grid grid-cols-1 gap-2 mt-3 pb-3 justify-center ">
                        <time
                          class="text-gray-400"
                          datetime={blogPostEntry.data.publishDate.toISOString()}>
                          {blogPostEntry.data.publishDate.toDateString()}
                        </time>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div>
        <h1
          class="text-4xl lg:text-4xl font-bold lg:tracking-tight mb-10 text-center">
          Cycling
        </h1>
        <ul class="grid gap-16 max-w-4xl mx-auto rounded-xl">
          {
            publishedBlogEntries2.map((blogPostEntry, index) => (
              <li>
                <a class="rounded-xl" href={`/blog/${blogPostEntry.slug}`}>
                  <div
                    class="grid items-center  transition-all duration-300
                 lg:hover:shadow-[21px_20px_20px_10px_#cbd5e0] lg:shadow-xl lg:shadow-gray-300 rounded-xl 
                 bg-white lg:hover:scale-105 ">
                    <Picture
                      src={blogPostEntry.data.image.src}
                      alt={blogPostEntry.data.image.alt}
                      sizes="(max-width: 800px) 100vw, 800px"
                      width={800}
                      height={600}
                      loading={index <= 2 ? "eager" : "lazy"}
                      decoding={index <= 2 ? "sync" : "async"}
                      class="h-64 rounded-xl  object-cover object-center  "
                    />
                    <div class="text-center p-5">
                      <span class="text-blue-400 uppercase tracking-wider text-sm font-medium">
                        {blogPostEntry.data.category}
                      </span>

                      <h2 class="text-3xl font-semibold leading-snug tracking-tight mt-1 ">
                        {blogPostEntry.data.title}
                      </h2>

                      <div class="grid gap-2 mt-3 pb-3 justify-center ">
                        <time
                          class="text-gray-400"
                          datetime={blogPostEntry.data.publishDate.toISOString()}>
                          {blogPostEntry.data.publishDate.toDateString()}
                        </time>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div>
        <h1
          class="text-4xl lg:text-4xl font-bold lg:tracking-tight mb-10 text-center">
          Hiking and Trekking
        </h1>
        <ul class="grid gap-16 max-w-4xl mx-auto rounded-xl">
          {
            publishedBlogEntries3.map((blogPostEntry, index) => (
              <li>
                <a class="rounded-xl" href={`/blog/${blogPostEntry.slug}`}>
                  <div
                    class="grid items-center  transition-all duration-300
                 lg:hover:shadow-[21px_20px_20px_10px_#cbd5e0] lg:shadow-xl lg:shadow-gray-300 rounded-xl 
                 bg-white lg:hover:scale-105 ">
                    <Picture
                      src={blogPostEntry.data.image.src}
                      alt={blogPostEntry.data.image.alt}
                      sizes="(max-width: 800px) 100vw, 800px"
                      width={800}
                      height={600}
                      loading={index <= 2 ? "eager" : "lazy"}
                      decoding={index <= 2 ? "sync" : "async"}
                      class="h-64 rounded-xl  object-cover object-center  "
                    />
                    <div class="text-center p-5">
                      <span class="text-blue-400 uppercase tracking-wider text-sm font-medium">
                        {blogPostEntry.data.category}
                      </span>

                      <h2 class="text-3xl font-semibold leading-snug tracking-tight mt-1 ">
                        {blogPostEntry.data.title}
                      </h2>

                      <div class="grid gap-2 mt-3 pb-3 justify-center ">
                        <time
                          class="text-gray-400"
                          datetime={blogPostEntry.data.publishDate.toISOString()}>
                          {blogPostEntry.data.publishDate.toDateString()}
                        </time>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div>
        <h1
          class="text-4xl lg:text-4xl font-bold lg:tracking-tight mb-10 text-center">
          Destinations
        </h1>
        <ul class="grid gap-16 max-w-4xl mx-auto rounded-xl">
          {
            publishedBlogEntries4.map((blogPostEntry, index) => (
              <li>
                <a class="rounded-xl" href={`/blog/${blogPostEntry.slug}`}>
                  <div
                    class="grid items-center  transition-all duration-300
                 lg:hover:shadow-[21px_20px_20px_10px_#cbd5e0] lg:shadow-xl lg:shadow-gray-300 rounded-xl 
                 bg-white lg:hover:scale-105 ">
                    <Picture
                      src={blogPostEntry.data.image.src}
                      alt={blogPostEntry.data.image.alt}
                      sizes="(max-width: 800px) 100vw, 800px"
                      width={800}
                      height={600}
                      loading={index <= 2 ? "eager" : "lazy"}
                      decoding={index <= 2 ? "sync" : "async"}
                      class="h-64 rounded-xl  object-cover object-center  "
                    />
                    <div class="text-center p-5">
                      <span class="text-blue-400 uppercase tracking-wider text-sm font-medium">
                        {blogPostEntry.data.category}
                      </span>

                      <h2 class="text-3xl font-semibold leading-snug tracking-tight mt-1 ">
                        {blogPostEntry.data.title}
                      </h2>

                      <div class="grid gap-2 mt-3 pb-3 justify-center ">
                        <time
                          class="text-gray-400"
                          datetime={blogPostEntry.data.publishDate.toISOString()}>
                          {blogPostEntry.data.publishDate.toDateString()}
                        </time>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </main>
  </Container>
</Layout>
