---
import Button from "./ui/button.astro";
import { getI18N } from "@/i18n/";
import { getLangFromUrl, useTranslatedPath } from "../i18n/utils.js";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<!-- To make this contact form work, create your free access key from https://web3forms.com/
     Then you will get all form submissions in your email inbox. -->
<form
  action="https://api.web3forms.com/submit"
  method="POST"
  id="form"
  class="needs-validation"
  novalidate>
  <input
    type="hidden"
    name="access_key"
    value="e851d321-0271-42c5-a243-3d405050de0f"
  />
  <!-- Create your free access key from https://web3forms.com/ -->
  <input type="checkbox" class="hidden" style="display:none" name="botcheck" />
  <h2 class="text-3xl mb-4 ml-1 font-semibold">
    {i18n.FORM_TAILOR.PERSONAL_INFO}
  </h2>
  <div class="grid md:grid-cols-2 md:gap-4">
    <div class="mb-5">
      <input
        type="text"
        placeholder="Full Name"
        required
        class="w-full px-4 py-3 border-2 placeholder:text-gray-400 rounded-md outline-none focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
        name="name"
      />
      <div class="empty-feedback invalid-feedback text-red-400 text-sm mt-1">
        Please provide your full name.
      </div>
    </div>
    <div class="mb-5">
      <input
        type="tel"
        minlength="9"
        maxlength="14"
        size="20"
        placeholder="Phone number: +34 000 000 000"
        required
        class="w-full px-4 py-3 border-2 placeholder:text-gray-400 rounded-md outline-none focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
        name="Phone Number"
      />
      <div class="empty-feedback invalid-feedback text-red-400 text-sm mt-1">
        Please provide a valid phone number
      </div>
    </div>
  </div>

  <div class="mb-5">
    <label for="email_address" class="sr-only">Email Address</label><input
      id="email_address"
      type="email"
      placeholder="Email Address"
      name="email"
      required
      class="w-full px-4 py-3 border-2 placeholder:text-gray-4n00 rounded-md outline-none focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
    />
    <div class="empty-feedback text-red-400 text-sm mt-1">
      Please provide your email address.
    </div>
    <div class="invalid-feedback text-red-400 text-sm mt-1">
      Please provide a valid email address.
    </div>
  </div>
  <div class="mb-3">
    <textarea
      name="message"
      required
      placeholder="How did you hear about us?"
      class="w-full px-4 py-3 border-2 placeholder:text-gray-400 rounded-md outline-none h-36 focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
    ></textarea>
    <div class="empty-feedback invalid-feedback text-red-400 text-sm mt-1">
      How did you hear about us?
    </div>
  </div>
  <!-- Travel Information -->
  <h2 class="text-3xl mb-4 ml-1 font-bold">{i18n.FORM_TAILOR.TRAVEL_INFO}</h2>
  <!-- Arrival Airport -->
  <div class="grid md:grid-cols-2 md:gap-4">
    <div class="mb-5">
      <label for="Arrival Airport" class="ml-1"
        >{i18n.FORM_TAILOR.TRAVEL_INFO_AIRPORT}</label
      >
      <input
        type="text"
        placeholder="Arrival Airport"
        required
        class="w-full px-4 py-3 border-2 placeholder:text-gray-400 rounded-md outline-none focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
        name="Arrival Airport"
      />
      <div class="empty-feedback invalid-feedback text-red-400 text-sm mt-1">
        Please provide your arrival airport.
      </div>
    </div>
    <div class="mb-5">
      <label for="Arrival Airport" class="ml-1"
        >{i18n.FORM_TAILOR.TRAVEL_INFO_DATE}</label
      >
      <input
        type="date"
        placeholder="date of arrival"
        required
        class="w-full px-4 py-3 border-2 placeholder:text-gray-400 rounded-md outline-none focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
        name="date of arrival"
      />
      <div class="empty-feedback invalid-feedback text-red-400 text-sm mt-1">
        Please provide date of arrival.
      </div>
    </div>
  </div>
  <!-- Length of your trip in days -->
  <div class="grid md:grid-cols-2 md:gap-2">
    <div class="mb-5">
      <label for="Arrival Airport" class="ml-1"
        >{i18n.FORM_TAILOR.TRAVEL_INFO_LENGTH}</label
      >
      <input
        id="Arrival Airport"
        type="number"
        placeholder="Days"
        required
        class="w-full px-4 py-3 border-2 placeholder:text-gray-400 rounded-md outline-none focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
        name="Length of travels in days"
      />
      <div class="empty-feedback invalid-feedback text-red-400 text-sm mt-1">
        Length of travels in days
      </div>
    </div>
    <div class="mb-5">
      <label for="Experience" class="ml-1"
        >{i18n.FORM_TAILOR.TRAVEL_INFO_EXPERIENCE}</label
      >
      <input
        id="Experience"
        list="Experiences"
        name="Which experience are you looking for?"
        placeholder="Select an option"
        class="w-full px-4 py-3 border-2 placeholder:text-gray-400 rounded-md outline-none focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
      />
      <datalist id="Experiences">
        <option value="Cycling Tours"></option>
        <option value="Hiking & Trekking"></option>
        <option value="Cultural Travel Tours"></option>
        <option value="Multi-Adventure Tours"></option>
        <option value="Other"></option>
      </datalist>
    </div>
  </div>
  <!-- How many travelers and age? -->
  <div class="mb-3">
    <label for="Travelers and Ages" class="ml-1"
      >{i18n.FORM_TAILOR.TRAVEL_INFO_TRAVELERS}</label
    >
    <label for="Travelers and Ages" class="ml-1"></label>
    <textarea
      id="Travelers and Ages"
      name="Travelers and Ages"
      required
      placeholder="Jhon Doe 36
Raquel Doret 24"
      class="w-full px-4 py-3 border-2 placeholder:text-gray-400 rounded-md outline-none h-36 focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
    ></textarea>
    <div class="empty-feedback invalid-feedback text-red-400 text-sm mt-1">
      Introduce travelers please.
    </div>
  </div>
  <!-- Room preference -->
  <div class="mb-3">
    <label for="Room preference" class="ml-1"
      >{i18n.FORM_TAILOR.TRAVEL_INFO_ROOM}</label
    >

    <textarea
      id="Room preference"
      name="Room preference"
      required
      placeholder="Single room, Twin or double room, etc..."
      class="w-full px-4 py-3 border-2 placeholder:text-gray-400 rounded-md outline-none h-36 focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
    ></textarea>
    <div class="empty-feedback invalid-feedback text-red-400 text-sm mt-1">
      Introduce room preference.
    </div>
  </div>
  <!-- Which places would you like to explore? -->
  <div class="mb-3">
    <label for="destinations" class="ml-1"
      >{i18n.FORM_TAILOR.TRAVEL_INFO_PLACES}</label
    >
    <label for="destinations" class="ml-1"></label>
    <textarea
      id="destinations"
      name="Destinations"
      placeholder="Islas Canarias"
      class="w-full px-4 py-3 border-2 placeholder:text-gray-400 rounded-md outline-none h-36 focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
    ></textarea>
    <div class="empty-feedback invalid-feedback text-red-400 text-sm mt-1">
      How did you hear about us?
    </div>
  </div>
  <!-- Special interests? -->
  <div class="mb-3">
    <label for="special" class="ml-1"
      >{i18n.FORM_TAILOR.TRAVEL_INFO_SPECIAL}</label
    >

    <textarea
      id="special"
      name="Spescial Interest for this tour"
      required
      placeholder="Sunset at Islas canarias north."
      class="w-full px-4 py-3 border-2 placeholder:text-gray-400 rounded-md outline-none h-36 focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
    ></textarea>
    <div class="empty-feedback invalid-feedback text-red-400 text-sm mt-1">
      Do you have any special interests?
    </div>
  </div>
  <!-- What is the most important thing you look in a vacation? -->
  <div class="mb-3">
    <label for="important" class="ml-1"
      >{i18n.FORM_TAILOR.TRAVEL_INFO_IMPORTANT}</label
    >
    <label for="important" class="ml-1"></label>
    <textarea
      id="important"
      name="What is the most important thing you look in a vacation?"
      required
      placeholder="Beach vacation, city tour, hiking, etc..."
      class="w-full px-4 py-3 border-2 placeholder:text-gray-400 rounded-md outline-none h-36 focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
    ></textarea>
    <div class="empty-feedback invalid-feedback text-red-400 text-sm mt-1">
      What is the most important thing you look in a vacation?
    </div>
  </div>
  <!-- Specials request or comments -->
  <div class="mb-3">
    <label for="Travelers and Ages" class="ml-1"
      >{i18n.FORM_TAILOR.TRAVEL_INFO_COMMENTS}</label
    >
    <label for="Travelers and Ages" class="ml-1"></label>
    <textarea
      id="comments_requests"
      name="Do you have any comments or specials request?"
      placeholder="I need 3 beds in in one room"
      class="w-full px-4 py-3 border-2 placeholder:text-gray-400 rounded-md outline-none h-36 focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
    ></textarea>
    <div class="empty-feedback invalid-feedback text-red-400 text-sm mt-1">
      Do you have any comments or specials request?
    </div>
  </div>
  <!-- Booking Steps -->
  <div class="grip">
    <h2 class="text-2xl font-bold mb-2">{i18n.FORM_TAILOR.BOOKING_STEPS}</h2>
    <div>
      <div class="flex flex-row items-center gap-1">
        <spam class="text-sm">🔵</spam>
        <h3 class="font-semibold text-lg">
          {i18n.FORM_TAILOR.BOOKING_STEPS_1}
        </h3>
      </div>
      <p class="mb-3">
        {i18n.FORM_TAILOR.BOOKING_STEPS_1_TEXT}
      </p>
    </div>
    <div>
      <div class="flex flex-row items-center gap-1">
        <spam class="text-sm">🔵</spam>
        <h3 class="font-semibold text-lg">
          {i18n.FORM_TAILOR.BOOKING_STEPS_2}
        </h3>1
      </div>
      <p class="mb-3">
        {i18n.FORM_TAILOR.BOOKING_STEPS_2_TEXT}
      </p>
    </div>
    <div>
      <div class="flex flex-row items-center gap-1">
        <spam class="text-sm">🔵</spam>
        <h3 class="font-semibold text-lg">
          {i18n.FORM_TAILOR.BOOKING_STEPS_3}
        </h3>
      </div>
      <p class="mb-3">
        {i18n.FORM_TAILOR.BOOKING_STEPS_3_TEXT}
      </p>
    </div>
    <div>
      <div class="flex flex-row items-center gap-1">
        <spam class="text-sm">🔵</spam>
        <h3 class="font-semibold text-lg">
          {i18n.FORM_TAILOR.BOOKING_STEPS_4}
        </h3>
      </div>
      <p class="mb-3">
        {i18n.FORM_TAILOR.BOOKING_STEPS_4_TEXT}
      </p>
    </div>
    <div>
      <div class="flex flex-row items-center gap-1">
        <spam class="text-sm">🔵</spam>
        <h3 class="font-semibold text-lg">
          {i18n.FORM_TAILOR.BOOKING_STEPS_5}
        </h3>
      </div>
      <p class="mb-3">
        {i18n.FORM_TAILOR.BOOKING_STEPS_5_TEXT}
      </p>
    </div>
    <div>
      <div class="flex flex-row items-center gap-1">
        <spam class="text-sm">🔵</spam>
        <h3 class="font-semibold text-lg">
          {i18n.FORM_TAILOR.BOOKING_STEPS_6}
        </h3>
      </div>
      <p class="mb-3">
        {i18n.FORM_TAILOR.BOOKING_STEPS_6_TEXT}
      </p>
    </div>
    <div>
      <div class="flex flex-row items-center gap-1">
        <spam class="text-sm">🔵</spam>
        <h3 class="font-semibold text-lg">
          {i18n.FORM_TAILOR.BOOKING_STEPS_7}
        </h3>
      </div>
      <p class="mb-3">
        {i18n.FORM_TAILOR.BOOKING_STEPS_7_TEXT}
      </p>
    </div>
  </div>

  <h2 class="text-2xl font-bold mb-2">{i18n.FORM_TAILOR.IMPORTANT_STEPS}</h2>
  <div class="grip">
    <div class="flex">
      <h3 class="flex-none w-5">1.</h3>
      <p class="mb-3 flex-1">
        {i18n.FORM_TAILOR.IMPORTANT_1}
      </p>
    </div>
    <div class="flex">
      <h3 class="flex-none w-5">2.</h3>
      <p class="mb-3 flex-1">
        {i18n.FORM_TAILOR.IMPORTANT_2}
      </p>
    </div>
    <div class="flex">
      <h3 class="flex-none w-5">3.</h3>
      <p class="mb-3 flex-1">
        {i18n.FORM_TAILOR.IMPORTANT_3}
      </p>
    </div>
    <div class="flex">
      <h3 class="flex-none w-5">4.</h3>
      <p class="mb-3 flex-1">
        {i18n.FORM_TAILOR.IMPORTANT_4}
      </p>
    </div>
    <div class="flex">
      <h3 class="flex-none w-5">5.</h3>
      <p class="mb-3 flex-1">
        {i18n.FORM_TAILOR.IMPORTANT_5}
      </p>
    </div>
    <div class="flex">
      <h3 class="flex-none w-5">6.</h3>
      <p class="mb-3 flex-1">
        {i18n.FORM_TAILOR.IMPORTANT_6}
      </p>
    </div>
  </div>

  <div class="mb-5">
    <div class="flex items-center">
      <input
        id="understad-checkbox"
        type="checkbox"
        required
        value="I understad"
        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
      />
      <label for="understad-checkbox" class="ms-2 text-md"
        >{i18n.FORM_TAILOR.CHECK_1}</label
      >
    </div>
    <div class="empty-feedback invalid-feedback text-red-400 text-sm mt-1">
      We need to know that you read all the steps for booking a tour.
    </div>
  </div>

  <div class="mb-5">
    <div class="flex items-center">
      <input
        id="agreed-checkbox"
        type="checkbox"
        required
        value="I agreed"
        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
      />
      <label for="agreed-checkbox" class="ms-2 text-md"
        >{i18n.FORM_TAILOR.CHECK_2}</label
      >
    </div>
    <div class="empty-feedback invalid-feedback text-red-400 text-sm mt-1">
      We need to know that agreed the information above.
    </div>
  </div>
  <div class="mb-5">
    <div class="flex items-center">
      <input
        id="policy-checkbox"
        type="checkbox"
        required
        value="Privacy policy"
        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
      />
      <label for="policy-checkbox" class="ms-2 text-md"
        >{i18n.FORM_TAILOR.CHECK_A}
        <a
          target="_blank"
          class="text-blue-600"
          href={translatePath("privacy-policy")}
          >{i18n.FORM_TAILOR.CHECK_BUTTON}</a
        >.</label
      >
    </div>
    <div class="empty-feedback invalid-feedback text-red-400 text-sm mt-1">
      We need to know that agreed the information above.
    </div>
  </div>

  <Button type="submit" size="lg" block>Send Message</Button>
  <div id="result" class="mt-3 text-center"></div>
</form>

<style>
  .invalid-feedback,
  .empty-feedback {
    display: none;
  }

  .was-validated :placeholder-shown:invalid ~ .empty-feedback {
    display: block;
  }

  .was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
    display: block;
  }

  .is-invalid,
  .was-validated :invalid {
    border-color: #dc3545;
  }
</style>

<script is:inline>
  const form = document.getElementById("form");
  const result = document.getElementById("result");

  form.addEventListener("submit", function (e) {
    e.preventDefault();
    form.classList.add("was-validated");
    if (!form.checkValidity()) {
      form.querySelectorAll(":invalid")[0].focus();
      return;
    }
    const formData = new FormData(form);
    const object = Object.fromEntries(formData);
    const json = JSON.stringify(object);

    result.innerHTML = "Sending...";

    fetch("https://api.web3forms.com/submit", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: json,
    })
      .then(async (response) => {
        let json = await response.json();
        if (response.status == 200) {
          result.classList.add("text-green-500");
          result.innerHTML = json.message;
        } else {
          console.log(response);
          result.classList.add("text-red-500");
          result.innerHTML = json.message;
        }
      })
      .catch((error) => {
        console.log(error);
        result.innerHTML = "Something went wrong!";
      })
      .then(function () {
        form.reset();
        form.classList.remove("was-validated");
        setTimeout(() => {
          result.style.display = "none";
        }, 5000);
      });
  });
</script>
